
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
         body,html{height:100%;}
    </style>


</head>
<body>
    <div class="nofindBox">
    </div>
</body>
</html>