
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<!-- <link href="../css/mobiscroll.custom.min.css" rel="stylesheet" type="text/css" /> -->
	<link href="../css/mobiscroll.custom-2.15.0.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>




<div class="all">
	
	<!-- address start -->

	<div class="address">
		<!-- title start -->
		<div class="title ">
			<div class="bb consignee ">
				<h3 class=""><span class="h2 gray">收货人</span><b class="h2 black "><input name="consignee" type="text" maxlength="50" class="text_input" value="" placeholder="请输入收货人姓名"></b></h3>
			</div>
			<div class="bb consignee">
				<span class="h2 gray">手机号码</span><b class="h2 black"><input id="phone" name="phone_mob" type="tel" value="" maxlength="13" class="text_input" placeholder="请输入手机号码"></b>
			</div>
		</div>
		<!-- title end -->

		
		<!-- box start -->
		<div class="box box-address-detail bb">

			<div class="wid80">
				<span class="h2 gray">详细地址</span>
			</div>
			<div class="address-detail-wrap">
				<textarea class="h2 black address-detail" id="address" placeholder="请输入您的详细地址"></textarea>
			</div>
		</div>

        <div class="addresstips">
            如：亲亲家园三期紫阳坊3幢201室
        </div>

        <div class="j-addressList" style="display:none;">
            <ul class="ajaxList">
                <li>
                    亲亲家园1期
                </li>
                 <li>
                    亲亲家园1期
                </li>
                 <li>
                    亲亲家园1期
                </li>
                 <li>
                    亲亲家园1期
                </li>
                 <li>
                    亲亲家园1期
                </li>
            </ul>
        </div>


        <div class="order-white backgroundnone">
			<button class="btn submit" onclick="return address_check(this.form, 1)">保存</button>
            <button class="btn deletes" >删除</button>
		</div>

		<!-- box end -->
		<!--<div class="btm-btn-wrap">
			<a href="#" class="btn submit">保存</a>
			<a href="#" class="btn cancel">删除</a>
		</div>-->
		
	</div>
	<!-- address end -->
</div>



	






<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mobile-events.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/address.js" type="text/javascript" charset="utf-8"></script>
<!-- script end -->

</body>
</html>