
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<!-- <link href="../css/mobiscroll.custom.min.css" rel="stylesheet" type="text/css" /> -->
	<link href="../css/mobiscroll.custom-2.15.0.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />
	


</head>
<body>




<div class="all">
	
	<!-- address start -->

	<div class="address">
		<!-- title start -->
		<div class="title ">
			<div class="bb consignee">
				<h3><span class="h2 gray">收货人</span><b class="h2 black">肚爷</b></h3>
			</div>
			<div class="bb consignee">
				<span class="h2 gray">手机号码</span><b class="h2 black">15395828888</b>
			</div>
		</div>
		<!-- title end -->
		
		<!-- box start -->
		<div class="box box-locate">
			<div class="row">
				<div class="col-50 col-locate"><i class="icon icon-locate"></i><span class="green h2">定位当前地址</span></div>
				<div class="col-50 col-locate-edit"><i class="icon icon-locate-edit"></i><span class="orange h2">修改地图标注</span></div>
			</div>
		</div>
		<!-- box end -->

		<!-- box start -->
		<div class="box box-select row bb bt">
			<div class="col-33 col-select">
				<span class="gray h2">省</span>
				<select class="select" name="provice"><option value="2">帝都</option><option value="3">魔都</option><option value="4">湖北</option></select>
			</div>
			<div class="col-33 col-select">
				<span class="gray h2">市</span>
				<select class="select"><option>咸宁</option><option>襄阳</option><option>仙桃</option></select>
			</div>
			<div class="col-33 col-select">
				<span class="gray h2">区</span>
				<select class="select"><option>嘉鱼县</option><option>通山县</option><option>崇阳县</option><option>赤壁市</option></select>
			</div>
		</div>
		<!-- box end -->
		
		<!-- box start -->
		<div class="box box-address-detail  bb row">

			<div class="wid80">
				<span class="h2 gray">详细地址</span>
				
			</div>
			<div class="width-right address-detail-wrap">
				<textarea class="h2 black address-detail">涛声依旧 不见当初的夜晚 今天的你我 怎样</textarea>
			</div>
		</div>
		<!-- box end -->
		<div class="btm-btn-wrap">
			<a href="#" class="btn submit">确定</a>
			<a href="#" class="btn cancel">取消</a>
		</div>
		
	</div>
	<!-- address end -->
</div>



	






<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="../js/plug/mobiscroll.custom.min.js" type="text/javascript" charset="utf-8"></script> -->
<script src="../js/plug/mobiscroll.custom-2.15.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/address.js" type="text/javascript" charset="utf-8"></script>
<!-- script end -->

</body>
</html>