<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>售后服务规则</title>
    <meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
    <meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
    <link href="../css/base.css" rel="stylesheet" type="text/css" />
    <link href="../css/index.css" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="wrapMenu">

<div class="y-agreement">
    <h2>售后服务规则</h2>
    <p>退换类别 退换原因 商品签收7天内是否支持退换货,商品签收8-15天是否支持换货,商品签收15天以上在质保期内是否支持保修性能故障音像制品，在配套播放器中无法正常播放,缺少配件,所标明的CD、书签等赠品没有随商品配送到物流损因物流运输导致商品划伤、残缺、污染，无法正常使用商品实物与网站不符实际收到 商品实物与网页介绍的内容、版次不符错买、多买、错买、多买商品，不影响二次销售</p>
    <h2>服务说明：</h2>
    <ol>
        <li>1.附件赠品，退换货时请一并退回，如有破损或丢失，将无法办理退换货</li>
        <li>2.关于物流损：请您在收货时务必仔细验货，如发现商品外包装或商品本身外观存在异常，需当场向配送人员指出，并拒收整个包裹；如您在收货后发现外观异常，请在收货24小时内提交退换货申请。如超时未申请，将无法受理。</li>
        <li>3.关于商品实物与网站描述不符：商旅集团保证所出售的商品均为正品行货，如排版有误、装订问题、缺少页数、缺失内容、错别字较多等，可查看商品版权页上的出版社联系方式，自行联系出版社办理。</li>
        <li>4.如果您在使用时对商品质量表示置疑，您可出具相关书面鉴定，我们会按照国家法律规定予以处理。</li>
    </ol>
    <a href="service.php?act=apply&order_id=<?php echo $order_id?>&code=<?php echo $code?>" class="y-agree-btn">同意并填写售后服务单</a>

</div>
<!-- footer start -->
<div class="head footer">
    <div class="row foot-txt">
        <div class="col-20 col1"><a href="index.html" ></a><p class="head-name">首 页</p></div>
        <div class="col-20 col2"><a href="#"></a><p class="head-name">分 类</p></div>
        <div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
        <div class="col-20 col4"><a href="cart.html"></a><p class="head-name">购物车</p></div>
        <div class="col-20 col5"><a href="my.html"></a><p class="head-name">个人中心</p></div>
    </div>
</div>
<!-- footer start -->
</div>

</body>
</html>