<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>啊呜购</title>
    <meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
    <meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/mapSwipe.css">
</head>
<body>
    <div id="wrap"><div id="loading"><div style="width: 50%;"></div></div></div>

<div class="wrap">
    <div class="item item-0 play">
        <div class="box">
            <div class="i0-tit animation fadeBot  timeone">
                配送说明
            </div>
        </div>
        <!--可自定义背景图-->
        <div class="bg "></div>
        <div class="bg1 animation fadeTop"></div>

    </div>

    <div class="item item-1">
        <!--可自定义背景图-->
        <div class="bg "></div>
        <div class="bg1 animationbg fadeheight timeone"></div>
        <!--<div class="bg2 animationbgtwo fadeheight timetwo"></div>-->
        <div class="bg3 animation fadeBot "></div>
    </div>

    <div class="item item-2">

        <!--可自定义背景图-->
        <div class="bg"></div>
        <div class="bg1 animation fadeTop"></div>
        <div class="bg2 animation fadeLeft"></div>
    </div>

    <div class="mod_control firstScr">
          <div class="mod_start"><i></i></div>
     </div>
</div>
    <script src="../js/zepto.min.js"></script>
    <script src="../js/plug/QSwipe.js"></script>
    <script type="text/javascript">
    $('.item').QSwipe({
        mode:"vertical",
        effect:"bounce"
    });
</script>



</body>
</html>