
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>





<div class="main">

	<!-- qrcode start -->
	<div class="qrcode">
		<div class="qrcode-img-wrap">
			<img class="qrcode-img" src="../img/card/qrcode.jpg">
			<img class="qr-avatar"  src="../img/card/head.png">
			<h3 class="h2 black">扫一扫发展会员</h3>
		</div>
		<div class="tip">
			<i class="icon icon-ask"></i>
			<a href="javascript:void(0);">详细规则</a>
		</div>

		<h2 class="title bt bb clearfix">
			<span class="fl h2 black">我的奖励排行榜</span>
			<span class="fr h2 gray">总金额：<em class="green arial">￥347</em></span>
		</h2>
		
		<!-- list start -->
		<div class="list bb">
			<h3 class="bt bb clearfix">
				<span class="fl avatar"><a href="#"><img src="../img/card/head.png"><b class="h2 black">土豪金</b></a></span>
				<span class="num fr h2 gray arial">NO.1</span>
			</h3>
			<div class="box">
				<div class="progress-wrap">
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<span class="lis active">
						<b>￥5</b>
					</span>
					<span class="lis active">
						<b>￥10</b>
					</span>
					<span class="lis">
						<b>￥30</b>
					</span>
				</div>
				<h3 class="list-btm bt h2 gray"> 再消费<span class="orange arial">10</span>元即可获得下张优惠券</h3>
			</div>
		</div>
		<!-- list end -->

		<!-- list start -->
		<div class="list bb">
			<h3 class="bt bb clearfix">
				<span class="fl avatar"><a href="#"><img src="../img/card/head.png"><b class="h2 black">土豪金</b></a></span>
				<span class="num fr h2 gray arial">NO.1</span>
			</h3>
			<div class="box">
				<div class="progress-wrap">
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<span class="lis active">
						<b>￥5</b>
					</span>
					<span class="lis active">
						<b>￥10</b>
					</span>
					<span class="lis">
						<b>￥30</b>
					</span>
				</div>
				<h3 class="list-btm bt h2 gray"> 再消费<span class="orange arial">10</span>元即可获得下张优惠券</h3>
			</div>
		</div>
		<!-- list end -->

		<!-- sord start -->
		
		<!-- sord end -->

		<!-- sord start -->
		
		<!-- sord end -->

	</div>
	<!-- qrcode end -->
	
	

</div>

<!-- footer start -->
<div class="head footer">
	<div class="row">
		<div class="col-20 col1"><a href="#"></a><p class="head-name">首 页</p></div>
		<div class="col-20 col2"><a href="list.html"></a><p class="head-name">分 类</p></div>
		<div class="col-20 col3"><a href="#"></a><p class="head-name">社区</p></div>
		<div class="col-20 col4"><a href="#"></a><p class="head-name">购物车</p></div>
		<div class="col-20 col5"><a href="#" class="on"></a><p class="head-name">我</p></div>
	</div>
</div>
<!-- footer start -->

</div>
<!-- product start -->

<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/card.js" type="text/javascript" charset="utf-8"></script>
<!-- script end -->

</body>
</html>