
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="community-wrap">
    <div class="headtop">
        <a class="address" href="">
            亲亲家园三期 >
        </a>
        <img class="headimg" src="../img/community/dd.png" alt=""/>
        <p class="headname">
            行了是水电费
        </p>
        <a class="ReleaseBtn" href="">

        </a>
    </div>
    <div class="communityBox">
        <ul class="comentList">
            <li class="clearfix" dataid="888">
                <img class="comheadimg" src="../img/community/gdf.png" alt=""/>
                <div class="comBox">
                    <p class="name">
                        Leo
                    </p>
                    <p class="conversation">
                        Outing today, very happy!哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                    </p>
                    <div class="shareBox">
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                    </div>
                    <div class="box row lineheight-20">
                        <span class="time col-50">
                            3分钟前
                        </span>
                        <div class="col-50 text-right">
                            <b class="commentbtn">
                            </b>
                        </div>
                        <div class="Toolbar">

                            <a class="likes-f" href="javascript:;">
                                <i class="iconTool iconTool-likes"></i>
                                赞
                            </a>
                            <a class="comments-f " href="javascript:;" dataid="888">
                                <i class="iconTool iconTool-comment"></i>
                                评论
                            </a>
                            <a class="shares-f " href="javascript:;">
                                <i class="iconTool iconTool-share"></i>
                                分享
                            </a>


                        </div>

                    </div>


                    <div class="commentBox" dataid="888">
                        <i class="triangle-up"></i>
                        <div class="like">
                            <i class="icon icon-like"></i>
                            <span class="num">
                                20
                            </span>
                        </div>
                        <div class="content">
                            <div class="contentBox">


                               <p>
                                 <span class="commentName">
                                        <em>无名</em>：
                                    </span>
                                    <span class="commentInfo">
                                        哎呦不错哦！
                                    </span>
                               </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名</em>：
                                    </span>
                                    <span class="commentInfo">
                                        哎呦不错哦！
                                    </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎呦不错哦哎呦不错哦哎呦不错哦哎呦不错哦哎呦不错哦哦！
                                 </span>
                            </p>
                            </div>
                        </div>
                        <div class="foot arrow ">
                              <i class="icon-arrow">
                              </i>
                        </div>
                    </div>


                </div>

            </li>
            <li class="clearfix" dataid="766">
                <img class="comheadimg" src="../img/community/gdf.png" alt=""/>
                <div class="comBox">
                    <p class="name">
                        Leo
                    </p>
                    <p class="conversation">
                        Outing today, very happy!哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                    </p>
                    <div class="shareBox">
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                        <a href="javascript:;"><img src="../img/community/dd.png" alt=""/></a>
                    </div>
                    <div class="box row lineheight-20">
                        <span class="time col-50">
                            3分钟前
                        </span>
                        <div class="col-50 text-right">
                            <b class="commentbtn">
                            </b>
                        </div>
                        <div class="Toolbar">
                            <a class="likes-f" href="javascript:;">
                                <i class="iconTool iconTool-likes"></i>
                                赞
                            </a>
                            <a class="comments-f " href="javascript:;" dataid="766">
                                <i class="iconTool iconTool-comment"></i>
                                评论
                            </a>
                            <a class="shares-f " href="javascript:;">
                                <i class="iconTool iconTool-share"></i>
                                分享
                            </a>


                        </div>

                    </div>
                    <div class="commentBox" dataid="766">
                        <i class="triangle-up"></i>
                        <div class="like">
                            <i class="icon icon-like"></i>
                            <span class="num">
                                20
                            </span>
                        </div>
                        <div class="content">
                            <div class="contentBox">
                            <p>
                                 <span class="commentName">
                                        <em>无名</em>：
                                    </span>
                                    <span class="commentInfo">
                                        哎呦不错哦！
                                    </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名</em>：
                                    </span>
                                    <span class="commentInfo">
                                        哎呦不错哦！
                                    </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎哦不错哦哎哦不错哦哎哦不错哦哎哦不错哦哎哦不错哦哎哦！
                                 </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哦哦！
                                 </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎哦！
                                 </span>
                            </p>
                            <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                            </p>
                                <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>无名41213</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>dfdfdfdfdf</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>dfdfdfdfdf</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>dfdfdfdfdf</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                                <p>
                                 <span class="commentName">
                                        <em>44444444444</em>：
                                 </span>
                                 <span class="commentInfo">
                                        哎呦不错哎呦不错哦哎！
                                 </span>
                                </p>
                            </div>
                        </div>
                        <div class="foot arrow ">
                            <i class="icon-arrow">

                            </i>
                        </div>



                    </div>


                </div>

            </li>
        </ul>



    </div>





</div>



<!-- footer start -->
<div class="head footer">
    <div class="row">
        <div class="col-20 col1"><a href="#" class="on"></a><p class="head-name">首 页</p></div>
        <div class="col-20 col2"><a href="list.html"></a><p class="head-name">分 类</p></div>
        <div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
        <div class="col-20 col4"><a href="#"></a><p class="head-name">购物车</p></div>
        <div class="col-20 col5"><a href="#"></a><p class="head-name">个人中心</p></div>
    </div>
</div>
<!-- footer start -->


<!-- dialog start -->
<div class="dialog-mask-black"></div>
<div class="dialog-mask-white"></div>

<!-- dialog-card start -->
<div class="dialog dialog-conversation">
    <div class="box">
        <div class=""><i class="scBtn"></i><div class="inputbox"><input type="text" class="releaseText"/><a class="Release releasefb" href="javascript:void(0)">发布</a></div></div>
        <div class="imgBox">
            <div class="scimg">
                <img src="../img/community/dd.png" alt=""/>
            </div>

            <a class="scBtn-small" href="javascript:;">

            </a>
        </div>
    </div>
</div>
<!-- dialog-card end -->

<div class="dialog dialog-chooseImg">
    <div class="box">
        <div class="dialogBox">
            <h3 class="">
              照片选择
            </h3>
            <a class="chooseImg" href="javascript:;">
                选择图片
            </a>
        </div>
            <a class="cancelBtn" href="javascript:;">
                取消
            </a>
    </div>
</div>

<div class="dialog dialog-comments">
    <div class="box">
        <div class=""><div class="inputbox"><input type="text" class="commentText"/><a class="Release releasefs" href="javascript:void(0)">发送</a></div></div>
    </div>
</div>



<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mobile-events.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/community.js" type="text/javascript" charset="utf-8"></script>


<!-- script end -->

</body>
</html>