
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>购物车</title>
    <meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
    <meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
    <link href="../css/base.css" rel="stylesheet" type="text/css" />
    <link href="../css/index.css" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="wrap">
    <div class="levelWrap s_links in_user_center develop-level">
        <h4 class="htitle">会员等级升级须知：</h4>
        <ul class="user-rule">
            <li>
                1、新注册用户默认为普通会员；
            </li>
            <li>
                2、不同等级用户在消费时获得的积分比例不同，比例规则详见页面下方的规则表格；
            </li>
            <li>
                3、用户等级的升级是按照消费所得积分的累计来计算的，如普通会员一次消费10元，按照获得积分比例，得5积分，一次消费20元，按照获得积分比例，得10积分，则累计获得15积分，距离升级到白银会员的积分要求还差85（100-15）个积分；
            </li>
            <li>
                4、用户等级的计算不是实时的，系统显示的数据为截至当天00:00时的数据，即当天消费所得积分将在第二天显示并计算等级；
            </li>
        </ul>
        <h4 class="htitle mt10">会员等级要求及积分比例对照：</h4>
        <table cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>
                    会员等级
                </th>
                <th>
                    成长值要求
                </th>
                <th>
                    会员特权购货获得积分比例
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>普通</td>
                <td>0</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>白银</td>
                <td>100</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>黄金</td>
                <td>1000</td>
                <td>125%</td>
            </tr>
            <tr>
                <td>钻石</td>
                <td>6000</td>
                <td>150%</td>
            </tr>
            <tr>
                <td>至尊</td>
                <td>30000</td>
                <td>200%</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- footer start -->
    <div class="head footer">
        <div class="row foot-txt">
            <div class="col-20 col1"><a href="index.html" class="on"></a><p class="head-name">首 页</p></div>
            <div class="col-20 col2"><a href="#"></a><p class="head-name">分 类</p></div>
            <div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
            <div class="col-20 col4"><a href="cart.html"></a><p class="head-name">购物车</p></div>
            <div class="col-20 col5"><a href="my.html"></a><p class="head-name">个人中心</p></div>
        </div>
    </div>
    <!-- footer start -->
</div>


</body>
</html>