
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>订单详情</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>

<div class="checkmain">
    <form id="confirmOrder" name="confirmOrder" method="post" action="order.php?act=createOrder" class="check_form">
        <input type="hidden" name="payment" id="payment_id" value="2" />
        <input type="hidden" name="use_id" id="use_id" value="0" />
        <input type="hidden" name="integral" id="integral" value="0.00" />
        <input type="hidden" name="integral_discount" id="integral_discount" value="0.00" />
        <input type="hidden" name="group_id" value="559" />
        <input type="hidden" id="totalAmount" value="60.03" />

        <input type="hidden" name="secStep" value="1"/> <!-- 是否跳转到第二步的标志位 -->
    	<input type="hidden" name="needAddress" value="1"> <!-- 购物车是否需要额外地址 -->
    	<input type="hidden" id="chkType" name="chkType" value="<?php echo $checkData['type']?>"/>
    	<input type="hidden" id="goodsIds" name="goodsIds" value="<?php echo $goodsIds?>"/>
    	<input type="hidden" id="recIds" name="recIds" value="<?php echo $recIds?>"/>
    	<input type="hidden" id="goodsId" name="goodsId" value="<?php echo $checkData['goods'][0]['goods_id']?>" />
    	<input type="hidden" id="quantity" name="quantity" value="<?php echo $checkData['goods'][0]['amount']?>" />
    	<input type="hidden" id="specId" name="specId" value="<?php echo $checkData['goods'][0]['spec_id']?>" />
    	<input type="hidden" id="addrId" name="addrId" value="<?php echo $checkData['addressInfo']['addr_id']?>" />
    	<input type="hidden" id="stageId" name="stageId" value="<?php echo $checkData['addressInfo']['stage_id']?>" />
    	<input type="hidden" id="consignee" name="consignee" value="<?php echo $checkData['addressInfo']['consignee']?>"/>
    	<input type="hidden" id="phone" name="phone" value="<?php echo $checkData['addressInfo']['phone_mob']?>" />
    	<input type="hidden" id="shippingFee" name="shipping_fee" value="<?php echo $shippingFee?>" />



	<!-- order start -->
	<div class="order">
		<div class="address chooseAddress">
			<span class="icon-address"></span>
			<p class="user-information">
				<span class="user-name">张晓明</span>
				<span class="user-phone">15815462036</span>
			</p>
			<p>
				杭州市西湖区西斗门路3号D幢19楼
			</p>
			<span class="icon-arrow"></span>
		</div>
		<div class="order-lists">			
			<div class="order-list">
				<div class="pic-goods">
					<img src="../img/order/goods.png">
				</div>
				<div class="goods-right">
					<p class="goods-price">
						<span class="goods-name">红旗坡阿克苏红旗坡阿苏<em>￥ 120元</em></span>		
					</p>
					<p class="goods-num">
						<span class="goods-weight">总重 :0.5kg<em>X1</em></span>
					</p>
				</div>
			</div>
			<div class="order-list">
				<div class="pic-goods">
					<img src="../img/order/goods.png">
				</div>
				<div class="goods-right">
					<p class="goods-price">
						<span class="goods-name">红旗坡阿克苏红旗坡阿苏<em>￥ 120元</em></span>		
					</p>
					<p class="goods-num">
						<span class="goods-weight">总重 :0.5kg<em>X1</em></span>
					</p>
				</div>
			</div>
			<div class="order-list">
				<div class="pic-goods">
					<img src="../img/order/goods.png">
				</div>
				<div class="goods-right">
					<p class="goods-price">
						<span class="goods-name">红旗坡阿克苏红旗坡阿苏<em>￥ 120元</em></span>		
					</p>
					<p class="goods-num">
						<span class="goods-weight">总重 :0.5kg<em>X1</em></span>
					</p>
				</div>
			</div>
			<div class="order-price">
				<span class="freight-txt">+运费<em>￥6.00</em></span>
				<span class="total">总价：<em>￥248</em></span>
			</div>
            <div class="list list1  choose-card ">
			    <p>抵价券</p>
                <span class="price">-￥<em class="couponSpan">0.00</em></span>
			    <a class="next" href="#"></a>
		    </div>
             <div class="list list2 ">
			     <p><span class="j-jfinfo">积分<i class="jf-info"></i></span></p>
                 <div class="jf-Box">
                    <span class="use-jf">使用<em>50055积分</em></span>
                    <span class="has-jf">现有积分<em>530</em></span>
                 </div>
                 <a class="jf-btn " href="javascript:void(0)"></a>

		    </div>
		</div>
		
		<div class="order-white">
			<input class="leave-message" type="text" placeholder="要对啊呜说的话..."/>	
		</div>
		<div class="order-white text-center checkout-btbox">
          <!--  <span class="checkout-totalprice">应付:<em class="orange">￥0</em></span>
            <span class="choosepay choose-pay-style">
                <em>微信支付</em><i></i>
            </span>-->
            <ul class="paylist">
                <li class="wx-item select">
                    <i class="wx-icon pay-icon"></i><span>微信支付</span>
                </li>
                <li class="zfb-item ">
                    <i class="zfb-icon pay-icon"></i><span>支付宝</span>
                </li>
                <li class="hd-item ">
                    <i class="hd-icon pay-icon"></i><span>货到付款</span>
                </li>
            </ul>

			<a href="javascript:void(0)" class="submitBtn orangebg">付款：<em>￥248</em></a>
		</div>
	</div>
	<!-- order end -->
    </form>
</div>


<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mobile-events.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/jquery.select.v2.0.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/checkout-alter.js" type="text/javascript" charset="utf-8"></script>


<!-- script end -->

</body>
</html>