
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>
<div class="orderwrap">
<!-- head start -->
<div class="head order-head">
    <div class="tabBox">
        <div class="tabs">
            <div class="swiper-slide active"><a  href="#">全部</a></div>
            <div class="swiper-slide"><a href="#">待付款</a></div>
            <div class="swiper-slide"><a href="#">待发货</a></div>
            <div class="swiper-slide"><a href="#">待收货</a></div>
            <div class="swiper-slide"><a href="#">待评价</a></div>
            <div class="swiper-slide"><a href="#">交易失败</a></div>
        </div>
        <div class="tabs-line"></div>
    </div>
</div>
<!-- head end -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slides">
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status success fl">
                            交易成功
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-sucess.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡红旗坡红
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="orderDetail-sucess.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn" href="">
                            评价订单
                        </a>
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
        <div class="swiper-slides">
            <div class="content-slide">
                <!--无数据时 start-->
                <div class="no-order" style="display:none;">
                    <div class="l_noshopIMG">
                        <span class="noIcon"></span>
                        <p class="noInfo">
                            您还没有相关的订单数据
                        </p>
                        <p class="nodata">
                            暂时没有相关数据
                        </p>
                    </div>
                </div>
                <!--无数据时 end-->
                <div class="orderList" style="display:block;">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status fl">
                            待付款
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                x <em>1</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
                        <span class="totalPrice fr">
                             总价：<em>￥248</em>
                         </span>
                        <span class="totalNum fr">
                            共2件商品
                         </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn" href="">
                            付款
                        </a>
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
        <div class="swiper-slides">
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status fl">
                            待发货
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-nodelivergoods.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn" href="">
                            提醒发货
                        </a>
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
        <div class="swiper-slides">
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status fl">
                            待收货
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-noReceiptgoods.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
        <div class="swiper-slides">
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status  fl">
                            待评价
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-nocomment.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn" href="">
                            确认收货
                        </a>
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
        <div class="swiper-slides">
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status  fl">
                            交易失败
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-fail.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status  fl">
                            交易失败
                        </p>
                        <p  class="orderList-ordernum fr">
                            订单号：112036125364313
                        </p>
                    </div>
                    <ul class="orderList-product">
                        <li>
                            <a href="orderDetail-fail.html">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/help/testimg.png" alt=""/>
                                <div class="orderlist-productinfo">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p>
                                                红旗坡阿克苏红旗坡阿苏
                                            </p>
                                            <p class="meas">
                                                总重 :0.5kg
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="orderList-price fr">
                                    <div class="orderlist-table">
                                        <div class="productBox">
                                            <p class="price">
                                                ￥ 120元
                                            </p>
                                            <p class="nums">
                                                X 1
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                    <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fr">
            共2件商品
        </span>
                    </div>
                    <div class="orderList-btnBox clearfix">
                        <a class="operatebtn deletebtn" href="">
                            删除订单
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="">上一页</a>
                <a class="allpage" href="">1313</a>
                <a href="">下一页</a>
            </div>
        </div>
    </div>
</div>


<!--order start-->



<!--order end-->
</div>
<!-- footer start -->
<div class="head footer">
    <div class="row">
        <div class="col-20 col1"><a href="#" class="on"></a><p class="head-name">首 页</p></div>
        <div class="col-20 col2"><a href="list.html"></a><p class="head-name">分 类</p></div>
        <div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
        <div class="col-20 col4"><a href="#"></a><p class="head-name">购物车</p></div>
        <div class="col-20 col5"><a href="#"></a><p class="head-name">个人中心</p></div>
    </div>
</div>
<!-- footer start -->

<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/alert.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/orders.js" type="text/javascript" charset="utf-8"></script>



<!-- script end -->

</body>
</html>