
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>
<div class="orderDetail-wrap">
    <div class="orderList">
        <div class="orderListBox clearfix">
            <p class="orderList-status  fl">
                待评价
            </p>
            <p  class="orderList-ordernum fr">
                订单号：112036125364313
            </p>
        </div>
         <div class="receiveInfo">
             <span class="address-icon"></span>
             <p class="receiveInfo-person clearfix">
                 <span class="pname fl">
                     收货人：张晓明
                 </span>
                 <span class="ptel fr">
                     15815462036
                 </span>
             </p>
             <p class="address">
                 收货地址：浙江省杭州市西湖区西斗门路3号D幢19楼
             </p>
         </div>
        <ul class="orderList-product mt10">
            <li>

                    <img src="../img/help/testimg.png" alt=""/>
                    <div class="orderlist-productinfo">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p>
                                    红旗坡阿克苏红旗坡红旗坡红
                                </p>
                                <p class="meas">
                                    总重 :0.5kg
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="orderList-price fr">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p class="price">
                                    ￥ 120元
                                </p>
                                <p class="nums">
                                    x <em>1</em>
                                </p>

                            </div>
                        </div>
                    </div>

            </li>
            <li>
                    <img src="../img/help/testimg.png" alt=""/>
                    <div class="orderlist-productinfo">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p>
                                    红旗坡阿克苏红旗坡阿苏
                                </p>
                                <p class="meas">
                                    总重 :0.5kg
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="orderList-price fr">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p class="price">
                                    ￥ 120元
                                </p>
                                <p class="nums">
                                    x <em>1</em>
                                </p>

                            </div>
                        </div>
                    </div>
            </li>
            <li>

                    <img src="../img/help/testimg.png" alt=""/>
                    <div class="orderlist-productinfo">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p>
                                    红旗坡阿克苏红旗坡阿苏
                                </p>
                                <p class="meas">
                                    总重 :0.5kg
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="orderList-price fr">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p class="price">
                                    ￥ 120元
                                </p>
                                <p class="nums">
                                    x <em>1</em>
                                </p>

                            </div>
                        </div>
                    </div>
            </li>
            <li>

                    <img src="../img/help/testimg.png" alt=""/>
                    <div class="orderlist-productinfo">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p>
                                    红旗坡阿克苏红旗坡阿苏
                                </p>
                                <p class="meas">
                                    总重 :0.5kg
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="orderList-price fr">
                        <div class="orderlist-table">
                            <div class="productBox">
                                <p class="price">
                                    ￥ 120元
                                </p>
                                <p class="nums">
                                    x <em>1</em>
                                </p>

                            </div>
                        </div>
                    </div>



            </li>
        </ul>
        <div class="orderList-totalprice clearfix">
        <span class="totalPrice fr">
            总价：<em>￥248</em>
        </span>
        <span class="totalNum fl">
            +运费 <em>￥6.00</em>
        </span>
        </div>
        <div class="orderList-btnBox clearfix">
            <a class="operatebtn" href="">
                确认收货
            </a>
            <a class="operatebtn deletebtn" href="">
                删除订单
            </a>
        </div>
    </div>
</div>

<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/alert.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/orderDetail.js" type="text/javascript" charset="utf-8"></script>




<!-- script end -->

</body>
</html>