
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="orderwrap">
<!-- head start -->
<div class="head order-head">
    <div class="tabBox">
        <div class="tabs">
            <div class="swiper-slide all active"><a href="order.php?act=list&amp;type=all">全部</a></div>
            <div class="swiper-slide unpay"><a href="order.php?act=list&amp;type=unpay">待付款</a></div>
            <div class="swiper-slide unship"><a href="order.php?act=list&amp;type=unship">待发货</a></div>
            <div class="swiper-slide alship"><a href="order.php?act=list&amp;type=alship">待收货</a></div>
            <div class="swiper-slide evaluate"><a href="order.php?act=list&amp;type=evaluate">待评价</a></div>
            <div class="swiper-slide refund"><a href="order.php?act=list&amp;type=refund">退单</a></div>
        </div>
        <div class="tabs-line"></div>
    </div>
</div>
<!-- head end -->
<div class="swiper-container" id="orderwrapper">
    <div class="swiper-wrapper" >
        <div class="swiper-slides" >
            <div class="content-slide">
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status success fl">
                            <i class="ordericon ordericon-sucess"></i>交易成功
                        </p>
                        <p  class="orderList-ordernum fr">
                             2015-10-12  17:56
                        </p>
                    </div>
                     <ul class="orderList-pdmore orderList-product">
                        <li>
                            <a class="j-loadetail" href="javascript:void(0);" data-href="orderDetail-detail.html">
                                   <!--多个产品-->
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840107.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <!--多个产品end-->

                                <!--一个产品-->
                               <!-- <div>
                                    <img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt="">
                                    <div class="orderlist-productinfo">
                                        <div class="orderlist-table">
                                            <div class="productBox">
                                                <p>
                                                    红旗坡阿克苏
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                 <!--一个产品end-->
                            </a>
                        </li>
                    </ul>

                    <div class="orderList-btnBox btborder clearfix">
                        <span class="totalPrice fl">
                         总价：<em class="orange-icon">￥248</em>
                         </span>
                        <a class="operatebtn btn-orange btn-evalute" href="javascript:void(0)">
                            去评价
                        </a>
                        <!--<a class="operatebtn btn-more" href="javascript:void(0)">
                            更多操作
                        </a>-->
                    </div>

                </div>
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status unpay fl">
                            <i class="ordericon ordericon-unpay"></i>待付款
                        </p>
                        <p  class="orderList-ordernum fr">
                             2015-10-12  17:56
                        </p>
                    </div>
                     <ul class="orderList-pdmore orderList-product">
                        <li>
                            <a class="j-loadetail" href="javascript:void(0);" data-href="orderDetail-detail.html">
                                   <!--多个产品-->
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840107.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/><i class="icon-failstate"></i></span>
                                <!--多个产品end-->
                            </a>
                        </li>
                    </ul>
                    <div class="orderList-btnBox btborder clearfix">
                        <span class="totalPrice fl">
                         总价：<em class="orange-icon">￥248</em>
                         </span>
                        <a class="operatebtn btn-orange" href="">
                            去付款
                        </a>
                        <!--<a class="operatebtn btn-more" href="javascript:void(0)">
                            更多操作
                        </a>-->
                    </div>

                </div>
                <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status unship fl">
                            <i class="ordericon ordericon-unship"></i>待发货
                        </p>
                        <p  class="orderList-ordernum fr">
                             2015-10-12  17:56
                        </p>
                    </div>
                    <ul class="orderList-pdmore orderList-product">
                        <li>
                            <a class="j-loadetail" href="javascript:void(0);" data-href="orderDetail-detail.html">
                                   <!--多个产品-->
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840107.jpg" alt=""/></span>
                                <!--多个产品end-->
                            </a>
                        </li>
                    </ul>
                    <div class="orderList-btnBox btborder clearfix">
                        <span class="totalPrice fl">
                         总价：<em class="orange-icon">￥248</em>
                         </span>
                        <!--<a class="operatebtn btn-more" href="javascript:void(0)">
                            更多操作
                        </a>-->
                    </div>

                </div>
            <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status alship fl">
                            <i class="ordericon ordericon-alship"></i>待收货
                        </p>
                        <p  class="orderList-ordernum fr">
                             2015-10-12  17:56
                        </p>
                    </div>
                     <ul class="orderList-pdmore orderList-product">
                        <li>
                            <a class="j-loadetail" href="javascript:void(0);" data-href="orderDetail-detail.html">
                                   <!--多个产品-->
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840107.jpg" alt=""/></span>
                                <!--多个产品end-->

                            </a>
                        </li>
                    </ul>
                    <div class="orderList-btnBox btborder clearfix">
                        <span class="totalPrice fl">
                         总价：<em class="orange-icon">￥248</em>
                         </span>
                        <a class="operatebtn btn-orange" href="">
                            确认收货
                        </a>
<!--                        <a class="operatebtn btn-more" href="javascript:void(0)">
                            更多操作
                        </a>-->
                    </div>

                </div>
             <div class="orderList">
                    <div class="orderListBox clearfix">
                        <p class="orderList-status refund fl">
                            <i class="ordericon ordericon-refund"></i>退单
                        </p>
                        <p  class="orderList-ordernum fr">
                             2015-10-12  17:56
                        </p>
                    </div>

                    <ul class="orderList-pdmore orderList-product">
                        <li>
                            <a class="j-loadetail" href="javascript:void(0);" data-href="orderDetail-detail.html">
                                   <!--多个产品-->
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840107.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <span class="order-imgBox"><img src="http://tawmall.hslvv.com/public/ecmall/uploads/1426840086.jpg" alt=""/></span>
                                <!--多个产品end-->

                            </a>
                        </li>
                    </ul>

                    <div class="orderList-btnBox btborder clearfix">
                        <span class="totalPrice fl">
                         总价：<em class="orange-icon">￥248</em>
                         </span>
                        <a class="operatebtn btn-orange" href="">
                            再次购买
                        </a>
                        <!--<a class="operatebtn btn-more" href="javascript:void(0)">
                            更多操作
                        </a>-->
                    </div>

                </div>
            </div>

        </div>
        <div id="pullUp" style="text-align:center;">
            <span class="pullUpLabel">下拉刷新...</span>
        </div>
    </div>
</div>


<!--order start-->



<!--order end-->
</div>
<!-- footer start -->
<div class="head footer">
    <div class="row">
        <div class="col-20 col1"><a href="#" class="on"></a><p class="head-name">首 页</p></div>
        <div class="col-20 col2"><a href="list.html"></a><p class="head-name">分 类</p></div>
        <div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
        <div class="col-20 col4"><a href="#"></a><p class="head-name">购物车</p></div>
        <div class="col-20 col5"><a href="#"></a><p class="head-name">个人中心</p></div>
    </div>
</div>
<!-- footer start -->

<div class="dialog-mask"></div>

<script>
var type = 'all';
var delOrderGroupUrl = 'order.php?act=deleteGroup';
var hideOrderUrl = 'order.php?act=hideOrder';
var confirmOrderUrl = 'order.php?act=confirmOrder';
var cancelRefundUrl = 'service.php?act=cancel';
var getMoreOrderUrl = "order.php?act=getMoreOrder";
var picUrl = 'http://tawmall.hslvv.com/';
var staticPage = 2;
</script>

<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mobile-events.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/alert.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/iscroll.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/orders-alter.js" type="text/javascript" charset="utf-8"></script>



<!-- script end -->

</body>
</html>