
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/mobiscroll.custom.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />
	
	


</head>
<body>







	<!-- pay start -->
	<div class="pay">

		<!-- head start -->
		<div class="title-wrap">

			<h3 class="title h3 green bb">支付方式</h3>
			<div class="pay-choise  row bb">
				<div class="col-50">
					<span class=" h1 black choose-pay-style-text">支付宝支付</span>
				</div>
				<div class="col-50 text-right">
					<a href="javascript:void(0)" class="choose white h3 choose-pay-style">选择</a>
				</div>
				
			</div>
		</div>
		<!-- head end -->
		
		<!-- content start -->
		<div class="content">
			<div class="box box-card bt row">
				<div class="col-50">
					<div class=" green h3">抵价券</div>
				</div>
				<div class="col-50 text-right">
					<span class=" gray h3 ">共3张  已用1张</span>
				</div>
			</div>
			<div class="box box-score bb row">
				<div class="col-50">
					<span class=" h2 black price choose-card-text">-￥5.00</span>
				</div>
				<div class="col-50 text-right">
					<a href="javascript:void(0)" class="choose white h3 choose-card">选择</a>
				</div>
			</div>
			<div class="box box-card row">
				<div class="col-50">
					<div class=" green h3">积分兑换</div>
				</div>
				<div class="col-50 text-right">
					<span class=" gray h3 ">共1500</span>
				</div>
			</div>
			<div class="box box-score bb row">
				<div class="col-50">
					<span class=" h2 black price">-￥5.00</span>
				</div>
				<div class="col-50 text-right">
					<input type="number" class="choose green h3 choose-score" value="500"  />
				</div>
			</div>
            <div class="box box-score bb row">
                <h3 class="h3 "><span class="green">支付金额：</span><em class="orange">￥248</em></h3>
            </div>
		</div>
		<!-- content end -->

		


	<!-- pay end -->
	
	

</div>


<!-- price-choose start -->
<div class="price-choose">
	<div class="row">
		<div class="col-20 col">100</div>
		<div class="col-20 col">200</div>
		<div class="col-20 col">300</div>
		<div class="col-20 col">400</div>
		<div class="col-20 col">500</div>
	</div>
</div>
<!-- price-choose end -->

<div class="btm-btn-wrap">
	<a href="javascript:void(0);" class="btn submit">确定</a>
</div>

	<!-- dialog start -->
	<!-- <div class="dialog-mask"></div> -->

	<!-- dialog-card start -->
	<!-- <div class="dialog dialog-card">
		<div class="box">
			<div class="list">
				<p class="bb padding1em"><input class="radio" type="radio" name="radio" id="radio1" value="20" /><label for="radio1"><span class="h2 gray">20  元优惠券</span></label></p>
				<p class="bb padding1em"><input class="radio" type="radio" name="radio" id="radio2" value="50" /><label for="radio2"><span class="h2 gray">50  元优惠券</span></label></p>
				<p class="bb padding1em"><input class="radio" type="radio" name="radio" id="radio3" value="100" /><label for="radio3"><span class="h2 gray">100  元优惠券</span></label></p>
			</div>
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="white h1 confirm">确定</a>
			</div>
		</div>
	</div> -->
	<!-- dialog-card end -->
	
	<!-- dialog-pay-style start -->
	<!-- <div class="dialog dialog-pay-style">
		<div class="box">
			<div class="list">
				<p class="bb padding1em"><input class="radio1" type="radio" name="radio-style" id="radio4" value="支付宝支付" checked="" /><label for="radio4"><span class="h2 gray">选择支付宝付款</span></label></p>
				<p class="bb padding1em"><input class="radio1" type="radio" name="radio-style" id="radio5" value="余额宝支付" /><label for="radio5"><span class="h2 gray">选择余额宝付款</span></label></p>
			</div>
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="white h1 confirm">确定</a>
			</div>
		</div>
	</div> -->
	<!-- dialog-pay-style end -->

<!-- dialog end -->

<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/jquery.select.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/mobiscroll.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/pay.js" type="text/javascript" charset="utf-8"></script>
<!-- script end -->

</body>
</html>