
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>





<div class="all">

	<!-- scratch-card start -->
	<div class="scratch-card">
		<div class="box">
			<div id="canvas-wrap" class="canvas-wrap">
				<img src="../img/scratch-card/prize.jpg"  id="prize">
				<img src="../img/scratch-card/draw-imamge.jpg"  id="draw-image">
			</div>
			<div class="foot">
				<p class="h3">明天再来有新惊喜哦！</p>
				<div><a href="#" class="btn h1">逛逛商城 ></a></div>
			</div>
		</div>
	</div>
	<!-- scratch-card end -->

</div>


<!-- footer start -->
<div class="head footer">
	<div class="row foot-txt">
		<div class="col-20 col1"><a href="index.html" class="on"></a><p class="head-name">首 页</p></div>
		<div class="col-20 col2"><a href="#"></a><p class="head-name">分 类</p></div>
		<div class="col-20 col3"><a href="#"></a><p class="head-name">啊呜社区</p></div>
		<div class="col-20 col4"><a href="cart.html"></a><p class="head-name">购物车</p></div>
		<div class="col-20 col5"><a href="my.html"></a><p class="head-name">个人中心</p></div>
	</div>
</div>
<!-- footer start -->


<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/jquery.eraser.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/scratch-card.js" type="text/javascript" charset="utf-8"></script>
<!-- script end -->

</body>
</html>