
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>商旅生活手机购物正品商城：一家专门做特卖的网站手机版手机版</title>
	<meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
	<meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/index.css" rel="stylesheet" type="text/css" />



</head>
<body>

<div class="head store-headlist">
    <a class="fcbtn edit" href="javascript:;">编辑</a>
    <a class="fcbtn complete hide" href="javascript:;">完成</a>
</div>

<!-- main start -->
<div class="main storeWrap">


	<!-- main start -->
	<div class="product product-list">
        <ul class="storeList clearfix">
            <li>
                <a href="#"><img src="../img/list/list1.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select "></span>
            </li>
            <li>
                <a href="#"><img src="../img/list/list2.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select"></span>
            </li>

            <li>
                <a href="#"><img src="../img/list/list1.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select "></span>
            </li>
            <li>
                <a href="#"><img src="../img/list/list2.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select"></span>
            </li>

            <li>
                <a href="#"><img src="../img/list/list1.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select "></span>
            </li>
            <li>
                <a href="#"><img src="../img/list/list2.jpg"></a>
                <div class="box">
                    <h2 class="product-name">天山脚下 红旗坡阿克苏</h2>
                    <div class="price-wrap clearfix">
                        <span class="fl price">￥88元</span>
                        <span class=" fr delete">￥:120元</span>
                    </div>
                </div>
                <span class="icon-select"></span>
            </li>

        </ul>
	</div>
	<!-- main start -->

</div>
<!-- main end -->

<!-- footer start -->
<div class="head footer">
	<div class="row">
		<div class="col-20 col1"><a href="#" class="on"></a><p class="head-name">首 页</p></div>
		<div class="col-20 col2"><a href="list.html"></a><p class="head-name">分 类</p></div>
		<div class="col-20 col3"><a href="#"></a><p class="head-name">社区</p></div>
		<div class="col-20 col4"><a href="#"></a><p class="head-name">购物车</p></div>
		<div class="col-20 col5"><a href="#"></a><p class="head-name">我</p></div>
	</div>
</div>
<!-- footer start -->

<div id="backTop" class="backTop"></div>
<!-- product start -->


<div class="dialog dialog-btn">
    <a href="javascript:void(0);" class="btn deletebtn">删除</a>
</div>


<!-- script start -->
<script src="../js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/global.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plug/alert.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.mobile-events.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/module/storeList.js" type="text/javascript" charset="utf-8"></script>

<!-- script end -->

</body>
</html>