<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>啊呜购</title>
    <meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
    <meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/swipeindex.css">
</head>
<body>
    <div class="carousel">
        <div class="item i0">
        </div>
        <div class="item i1">
        </div>
        <div class="item i2">
        </div>
        <div class="item i3">
        </div>
        <div class="item i4">
        </div>
        <div class="item i5">
        </div>
        <div class="item i6">
        </div>
    </div>
     <div class="mod_control firstScr">
          <div class="mod_start"><i></i></div>
     </div>
    <script type="text/javascript" src="../js/module/swipeIndex.js"></script>
    <!--主代码-->
    <script type="text/javascript">
        $('.carousel').carousel({
            isVertical:true,
            isShowSpinner: false
        });
    </script>

</body>
</html>