<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>啊呜购</title>
    <meta content="商旅生活手机购物，正品商城，品牌特卖会" name="keywords">
    <meta content="商旅生活手机购物网以1-7折超低折扣对全球各大品牌进行限时特卖，商城内正品囊括服装、化妆品、家居、奢侈品等。100%正品、手机购物下单、货到付款、7天无条件退货。" name="description">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/indexSwipe.css">
</head>
<body>
    <div id="wrap"><div id="loading"><div style="width: 50%;"></div></div></div>

<div class="wrap">
    <div class="item item-0 play">
        <div class="box">
            <div class="i0-tit animation  fadeBot">
                品牌故事
            </div>
           <div class="i1-tit animation  fadeIn timetwo">
                啊呜有三个爸比
            </div>
        </div>

        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>

    <div class="item item-1">
        <div class="box" >
            <div class="i2-tit animation  fadeRight">
                   <p>2012年</p>
                   <p>大爸比有了小超人</p>
            </div>
            <div class="i3-tit animation  fadeLeft timeone">
                   <p>2013年</p>
                   <p>二爸比有了小公主</p>

            </div>
             <div class="i33-tit animation  fadeRight timetwo">
                   <p>同年</p>
                   <p>小爸比有了小怪兽</p>
            </div>
        </div>
        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>

    <div class="item item-2">
        <div class="box" >
                       <!--<div class="i4-tit-say animation  fadeLeft">
                              <p>大爸比Z说</p>
                       </div>
                       <div class="i5-tit-say animation  fadeIn timeone">
                              <p>二爸比C说</p>
                       </div>
                       <div class="i6-tit-say animation  fadeRight timetwo">
                              <p>小爸比K说</p>
                       </div>-->
                       <div class="i4-tit animation  fadeLeft">
                              <p>大爸比说：</p>
                              <p>我要把世界</p>
                              <p>上最好的东</p>
                              <p>西给我的小</p>
                              <p>
                                    超人
                              </p>
                       </div>
                       <div class="i5-tit animation  fadeIn timeone">
                              <p>二爸比说：</p>
                              <p>这世界配不上</p>
                              <p>我的小公主</p>
                       </div>
                        <div class="i6-tit animation  fadeRight timetwo">
                              <p>小爸比说：</p>
                              <p>我只希望</p>
                              <p>我的小怪兽</p>
                              <p>健康快乐</p>
                       </div>

        </div>
        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>

    <div class="item item-3">
        <div class="box" >
            <div class="i7-tit animation  fadeRight">
                              <p>大家都觉得</p>
                              <p>小爸比K说的</p>
                              <p>最实在，却是最难办</p>
                       </div>
                       <div class="i8-tit animation  fadeRight timeone">
                              <p>祸从口入</p>
                              <p>的现在</p>
                              <p>健康是奢侈品。</p>
                       </div>
                       <div class="i9-tit animation  fadeLeft timetwo">
                              <p>求人不如求己</p>
                              <p>爸比们觉得联手行动，</p>
                              <p>改善食品安全。</p>
                       </div>

        </div>
        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>

    <div class="item item-4">
        <div class="box" >
            <div class="i10-tit animation  fadeLeft">
                               <p>三位爸比跑了</p>
                               <p>很多果园</p>
                               <p>咨询了很多农民伯伯，</p>
                                <p>
                                 进行了一系列的监控、检测、分拣、试吃...
                               </p>
                        </div>
                          <div class="i11-tit animation  fadeRight timeone">
                               <p>经过9个月的孕育</p>
                               <p>在2015年的春天里</p>
                               <p>啊呜终于出生</p>
                        </div>

        </div>
        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>
    <div class="item item-5">
        <div class="box" >
              <div class="i12-tit animation  fadeRight ">
                   <p>啊呜的使命是给小哥哥、小姐姐</p>
                   <p>寻找可以放心吃的食物</p>
                   <p>哪怕只是一个小小的</p>
                  <p>无农药苹果
                  </p>
            </div>
        </div>
        <!--可自定义背景图-->
        <div class="bg"></div>
    </div>
    <div class="item item-6">
            <div class="box" >
                  <div class="i13-tit animation  fadeLeft ">
                   <p>现在</p>
                   <p>啊呜想把百里挑一的食物</p>
                   <p>载着爸比们的初心</p>
                  <p>传给身边的你</p>
                  <p>因为爸比说</p>
                </div>
                  <div class="i14-tit animation  fadeIn timeone">
                       <p>幼吾幼以及人之幼</p>
                </div>
            </div>
            <!--可自定义背景图-->
            <div class="bg"></div>
        </div>

    <div class="mod_control firstScr">
          <div class="mod_start"><i></i></div>
     </div>
</div>
    <script src="../js/zepto.min.js"></script>
    <script src="../js/plug/QSwipe.js"></script>
    <script type="text/javascript">
    $('.item').QSwipe({
        mode:"vertical",
        effect:"normal"
    });
</script>



</body>
</html>